@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* font family */
body{
    font-family: "Inter", sans-serif;
}

*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* css variable */
:root{
    --btn-backround-color: rgb(230, 83, 60);
    --peraghaph-color: rgba(255, 255, 255, 0.5);
    --peraghaph-font-size: 1rem;
    --p-font-weight: 400;
    --title-color: rgb(255, 255, 255);
    --title-size: 3rem;
    --title-weight: 700;
    --secondry-bg-color:  rgb(34, 34, 34);
    --main-bg-color: #000000;
}

.basic-btn{
    background-color: var(--btn-backround-color);
    font-size: 1rem;
    font-weight: var(--p-font-weight);
    color: white;
    padding: 8px 15px;
    border-radius: 15px;
    border: none;
    margin-right: 1.7rem;
}

.baner-btn{
    background-color: black;
    font-size: 1rem;
    font-weight: var(--p-font-weight);
    color: white;
    padding: 8px 15px;
    border-radius: 15px;
   border: 1px solid white;
}

/* header style */

.header{
    max-width: 1290px;
    margin: 0 auto;
    padding: 40px  70px 0px 70px;
    background-color: #000000;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style-type: none;
    margin-left: 1.7rem;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-weight: var(--p-font-weight);
    transition: 0.3s;
}

.navbar ul li a:hover{
     color: var(--btn-backround-color);
}

.navbar ul li .active{
       background-color: var(--btn-backround-color);
       padding: 6px 12px;
       border-radius: 15px;
}

.navbar ul li .active:hover{
        color: black;
}

.nav-title{
    font-size: 2.2rem;
    font-weight: 800;
    font-style: oblique;
    color: var(--btn-backround-color);
}

.mobileMemu .fa-bars{
    font-size: 2rem;
    display: block;
}

/* baner style */

.baner-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.baner-title{
    font-size: 4.8rem;
    font-weight: 900;
    color: white;
    margin-bottom: 1.7rem;
}


.child-baner-2{
    position: relative;
    padding-right: 50px;
   padding-top: 30px;
}

.child-baner-2 img{
    width: 100%;
}

.mini-child-1{
    color: white;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    width: 180px;
    height: 90px;
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 150px;
    right: -16px;
}

.mini-child-2{
    color: white;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    width: 180px;
    height: 90px;
    display: flex;
    align-items:center ;
    justify-content: center;
    position: absolute;
     bottom: 70px;
     left: -100px;
}

.baby-1{
    width: 25px;
    height: 25px;
    background-color: var(--btn-backround-color);
    border-radius: 50%;
    margin-right: 10px;
}

.same{
    color: var(--peraghaph-color);
    font-size: var(--peraghaph-font-size);
    margin-top: 0.5rem;
}


.title-style{
    font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 4.8rem;
}

.baner-discription{
    font-size: var(--peraghaph-font-size);
    font-weight: var(--p-font-weight);
    color: var(--peraghaph-color);
    margin-bottom: 2rem;
}


/* main contant */

.main-containers{
    background-color: black;
    max-width: 1290px;
    margin: 0 auto;
    padding: 4rem 0;
}

 /* first section  */

.habit-title{
font-size: 3rem;
color: var(--title-color);
font-weight: var(--title-weight);
text-align: center;
margin-bottom: 1.5rem;
}

.habit-discription, .teamDec {
    font-size: var(--peraghaph-font-size);
    color: var(--peraghaph-color);
    font-weight: var(--p-font-weight);
    margin-bottom: 3rem;
    text-align: center;
}

.child-habit{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 4rem;
}

.imag-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 240px;
}

.imag-box  img {
     border-radius: 50%;
     margin-bottom: 1rem;
}

.imag-title{
    color: var(--title-color);
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.7rem;
}

.imag-discription{
    font-size: var(--peraghaph-font-size);
    color: var(--peraghaph-color);
    font-weight: var(--p-font-weight);
    text-align: center;
  
}

/* second section */
.run-section{
    display: grid;
    grid-template-columns: 500px 390px;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 5rem auto;
    background-color: var(--secondry-bg-color);
    padding: 1.3rem;
    border-radius: 9px;
}



.run-title{
    font-size: var(--title-size);
    color: var(--title-color);
    font-weight: var(--title-weight);
     margin-bottom:1rem ;
}

.run-discription{
    font-size: var(--peraghaph-font-size);
    color: var(--peraghaph-color);
    font-weight: var(--p-font-weight);
    margin-bottom: 1.2rem;
}

.child-run img{
    max-width: 100%;
    border-radius: 10px;
}

/* calculator section */

.text-container {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 4rem;
    text-align: left;
}

.cal-title{
    font-size: var(--title-size);
    font-weight: var(--title-weight);
    color: var(--title-color);
    margin-bottom: 0.7rem;
}

.cal-discription{
    font-size: var(--peraghaph-font-size);
    font-weight: var(--p-font-weight);
    color: var(--peraghaph-color);
}

.text-calculatow-2{
    background-color: var(--secondry-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 0;
    height: 400px;
}

.bmi-table{
    width: 500px;
    height: 320px;
}

table{
 border-collapse:  collapse;
 height: 230px;

}

table tr, th,  td{
     border: 2px solid var(--main-bg-color);
     text-align: left;
     padding: 0.6rem;
     color: var(--peraghaph-color);
     font-weight: var(--p-font-weight);
     border: 1px solid var(--peraghaph-color);

}

table tr th{
    font-size: 1.3rem;
    color: var(--title-color);
}

table caption{
    font-size: 1.5rem;
    font-weight: var(--title-weight);
    color: var(--title-color);
    margin-bottom: 1.5rem;
}

/* form style */
.bmi-title{
    font-size: 1.5rem ;
    font-weight: var(--title-weight);
    color: var(--title-color);
    margin-bottom: 0.6rem;
}

.bmi-discription{
    font-size: var(--peraghaph-font-size);
    font-weight: var(--p-font-weight);
    color: var(--peraghaph-color);
    margin-bottom: 0.8rem;
}

.form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 2rem;
}

#custom{
    grid-column: 1 / span 2;
    border-radius: 7px;
    padding: 10px  15px;
    margin-bottom: 0.7rem;
}

.form input{
    padding: 10px  15px;
    border-radius: 7px;
}

/* meet our team stylings  */

.MeetOurTeam{
    max-width: 1290px;
    height: 750px;
    background-color: #000000;
    padding: 2rem 0;


}

.textTeam{
    max-width: 700px;
    margin: 0 auto 3rem;
}

.teamTitle{
    font-size: 3.5rem;
    font-weight: var(--title-weight);
    color: var(--title-color);
    text-align: center;
    margin-bottom: 1.4rem ;
}

.trainerTeam{
    max-width: 830px;
    height: 550px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    justify-content: center;
    gap: 1rem;
    background-color: var(--secondry-bg-color);
    padding: 1rem;
    border-radius: 10px;
}

.child-team{
    max-width: 265px;
    height: 235px;
    border-radius: 7px;
    position: relative;
}

#trainer{
      font-size: 1.2rem;
     font-weight: 600;
    color: var(--title-color);
   display: block;
   margin-bottom: 0.2rem;
  
}

#subTrainer{
    color: rgba(255, 255, 255, 0.6);
}

.nameTraimer{
    position: absolute;
    max-width: 300px;
    height: 50px;
    left: 0.5rem;
    bottom: -0.6rem;
}

.child-team img{
    width: 100%;
    height: 250px;
    border-radius: 7px;
    filter: brightness(70%);
}

/* footer stylings */
.footer{
    max-width: 1290px;
    height: 400px;
    background-color: var(--secondry-bg-color);
    margin: 0 auto;
    padding: 4rem 10rem 7rem;
}
.footer .lastDec{
     text-align: center;
     color: var(--peraghaph-color);
     font-size: var(--peraghaph-font-size);
     font-weight: var(--p-font-weight);
     margin-top: 3rem;
}

.footerTitle{
    font-size: 4rem;
    color: var(--btn-backround-color);
    font-weight: var(--title-weight);
    font-style: italic;
    margin-bottom: 1.2rem;
}

.footerDec{
    color: var(--peraghaph-color);
    font-size: var(--peraghaph-font-size);
    font-weight: var(--p-font-weight);
}



.childFooter:first-child{
    max-width: 450px;
    height: 172px;
}



.childFooter:nth-child(2){
   max-width: 180px;
   height: 172px;
}

.childFooter:last-child{
    max-width: 170px;
    height: 172px;
}
.childFooter:last-child .footerLink{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--peraghaph-color);
    margin-bottom: 0.5rem;
    display: block;
}


.secondTitle {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--title-color);
    margin-bottom: 1rem;
}

.footerLink {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--peraghaph-color);
    margin-bottom: 0.5rem;
    display: inline-block;
}

.footerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4rem;
}







.










