@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* font family */
body{
    font-family: "Inter", sans-serif;
}

*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* css variable */
:root{
    --btn-backround-color: rgb(230, 83, 60);
    --peraghaph-color: rgba(255, 255, 255, 0.5);
    --peraghaph-font-size: 1rem;
    --p-font-weight: 400;
    --title-color: rgb(255, 255, 255);
    --title-size: 3rem;
    --title-weight: 700;
    --secondry-bg-color:  rgb(34, 34, 34);
    --main-bg-color: #000000;
}

.basic-btn{
    background-color: var(--btn-backround-color);
    font-size: 1rem;
    font-weight: var(--p-font-weight);
    color: white;
    padding: 8px 15px;
    border-radius: 15px;
    border: none;
    margin-right: 1.7rem;
}

.baner-btn{
    background-color: black;
    font-size: 1rem;
    font-weight: var(--p-font-weight);
    color: white;
    padding: 8px 15px;
    border-radius: 15px;
   border: 1px solid white;
}

/* header style */

.header{
    max-width: 1290px;
    margin: 0 auto;
    padding: 40px  70px 0px 70px;
    background: linear-gradient(180.00deg, rgb(17, 17, 17) 7%,rgba(119, 119, 119, 0) 100%), linear-gradient(360.00deg, rgb(0, 0, 0) 12% ,rgba(119, 119, 119, 0) 100%);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style-type: none;
    margin-left: 1.7rem;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-weight: var(--p-font-weight);
    transition: 0.3s;
}

.navbar ul li a:hover{
     color: var(--btn-backround-color);
}

.navbar ul li .active{
       background-color: var(--btn-backround-color);
       padding: 6px 12px;
       border-radius: 15px;
}

.navbar ul li .active:hover{
        color: black;
}

.nav-title{
    font-size: 2.2rem;
    font-weight: 800;
    font-style: oblique;
    color: var(--btn-backround-color);
}


.mobileMemu .fa-bars{
    font-size: 2rem;
    display: none;
 
}

/* baner style */

.baner-section{
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.baner-title{
    font-size: 4.8rem;
    font-weight: 900;
    color: white;
    margin-bottom: 1.7rem;
}


.child-baner-2{
    position: relative;
    padding-right: 50px;
    padding-top: 30px;
}

.child-baner-2 img{
    width: 100%;
    height: 100%;
}

.mini-child-1{
    color: white;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    width: 180px;
    height: 90px;
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 150px;
    right: -16px;
}

.mini-child-2{
    color: white;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    width: 180px;
    height: 90px;
    display: flex;
    align-items:center ;
    justify-content: center;
    position: absolute;
     bottom: 70px;
     left: -100px;
}

.baby-1{
    width: 25px;
    height: 25px;
    background-color: var(--btn-backround-color);
    border-radius: 50%;
    margin-right: 10px;
}

.same{
    color: var(--peraghaph-color);
    font-size: var(--peraghaph-font-size);
    margin-top: 0.5rem;
}


.title-style{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 4.8rem;
}

.baner-discription{
    font-size: var(--peraghaph-font-size);
    font-weight: var(--p-font-weight);
    color: var(--peraghaph-color);
    margin-bottom: 2rem;
}


/* main contant */

.main-containers{
    background-color: black;
    max-width: 1290px;
    margin: 0 auto;
    padding: 4rem 0;
}

 /* first section  */

.habit-title{
font-size: 3rem;
color: var(--title-color);
font-weight: var(--title-weight);
text-align: center;
margin-bottom: 1.5rem;
}

.text-habit{
    width: 700px;
    margin: 0 auto;
    padding: 1rem;
}

.habit-discription, .teamDec {
    font-size: var(--peraghaph-font-size);
    color: var(--peraghaph-color);
    font-weight: var(--p-font-weight);
    margin-bottom: 3rem;
    text-align: center;
    line-height: 1.7rem;
}

.child-habit{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    max-width: 1100px;
}

.imag-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 270px;
}

.imag-box  img {
     border-radius: 50%;
     margin-bottom: 1rem;
     width: 200px;
}

.imag-title{
    color: var(--title-color);
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.7rem;
}

.imag-discription{
    font-size: var(--peraghaph-font-size);
    color: var(--peraghaph-color);
    font-weight: var(--p-font-weight);
    text-align: center;
  
}

/* second section */
.run-section{
    max-width: 1000px;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 500px 390px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondry-bg-color);
    padding: 1.3rem;
    border-radius: 9px;
   
}



.run-title, .traningTitle{
    font-size: var(--title-size);
    color: var(--title-color);
    font-weight: var(--title-weight);
     margin-bottom:1rem ;
}

.run-discription, .taningDec{
    font-size: var(--peraghaph-font-size);
    color: var(--peraghaph-color);
    font-weight: var(--p-font-weight);
    margin-bottom: 1.2rem;
}

.child-run {
   overflow: hidden;
   border-radius: 10px ;
}
.child-run img{
    width: 100%;
    height: 270px;
    border-radius: 10px;
    transform: scale(1.7);
    border-radius: 10px ;
    margin-left: 2rem;
}
/* my creative section start */
.unicSection{
    max-width: 1000px;
    height: 400px;
    margin: 0 auto 45rem;
    }

    .unicTitle{
        color: white;
       font-size: 2.5rem;
       font-weight: var(--title-weight);
       text-align: center;
    }

    .powerContainer{
        width: 1000px;
        height: 500px;
        margin: 17rem auto 0;
        background-image: url('../images/bggym.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        z-index: 111;
        border-radius: 10px;
         display: flex;
         flex-direction: column;
        align-items: center;
        justify-content: center; 
    }

    .powerTitle{
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
        font-size: 4.8rem;
        color: white;
    }
    
    .darkPower{
        position: absolute;
        width: 100%;
        height:100%;
        background-color: rgb(0, 0, 0, 0.6);
        z-index: -1;
        border-radius: 10px;
    } 

     .topContainer{
        background-image: url('../images/gymfirstbg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        width: 800px;
        height: 340px;
        position: absolute;
        top: -13rem;
        left: 1rem;
        border-radius: 10px;
        display: flex;
        padding: 1.5rem 3rem;
        gap: 2rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        z-index: 444;
    }

    .topDakr{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0, 0.4);
        z-index: -1;
    }

    .childTop h3{
        font-size: 1.5rem;
        font-weight: var(--title-weight);
    }
    .childTop p{
        font-size: var(--peraghaph-font-size);
        font-weight: var(--peraghaph-font-size-weight);
        color: var(--peraghaph-color);
        line-height: 1.5rem;
        margin-bottom: 1rem;
    }

    .tainer img {
        width: 90px;
        height: 90px;
        margin-top: 0.8rem;
        border-radius: 7px;
        transform: scale(1.4);
        filter: brightness(70%);
        transition: 1s;
    }
    .tainer img:hover  {
       transform: scale(1.9);
    }

    .titletext{
       width: 700px;
    }
     .tainerText {
       display: flex;
       align-items: flex-start;
       flex-direction: row-reverse;
       justify-content: flex-end;
       gap: 2rem;
       margin-bottom: 2rem;
    } 

    #trainerName{
        display: block;
        color: white;
        margin-bottom: 1rem;
    }
    #trainerName2{
        font-size: 1.5rem;
        color: white;
    }

    .threeChildContainer{
        width: 800px;
        height: 350px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: -10rem;
        top: -10rem;
        gap: 1rem;
      
    }
     .planChild{
        width: 210px;
        height: 340px;
        position: relative;
        z-index: 7755;
        transition: 0.9s;
        overflow: hidden;
        border-radius: 7px;
        
     }

     .planChild:hover .iconDark{
          bottom:  7rem;
          background-color: rgb(0, 255, 255, 0.3);
          border-radius: 10px;
     }

     .planChild:hover  i{
           color: white;
     }

     .planChild:hover img{
           transform: scale(1.6);
     }

     .planChild img{
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          transition: 0.9s;
          border-radius: 7px;

     }

    .iconDark i{
        color: rgb(0, 0, 0, 0);
        margin: 0.6rem;
        font-size: 1.3rem;
    }
    .iconDark {
        width: 50px;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: rgb(0, 0, 0, 0) ;
        bottom: -10rem;
        right: 0;
        transition: 0.9s;
        transition-timing-function: ease-in-out;
        padding: 1rem;
    }

    .planDark{
        position: absolute;
        padding: 1rem ;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 7px;
    }

    .planDark2{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0, 0.5);
        z-index: -1;
        border-radius: 7px;
    }

    .plantitle{
        font-size: 1.4rem;
        color: rgba(255, 255, 255, 0.877);
        font-weight: var(--title-weight);
        margin-bottom: 0.4rem;
    }
    .planDec{
         font-size: var(--peraghaph-font-size);
         font-weight: var(--p-font-weight);
         color: rgb(255, 255, 255, 0.7);
    }

    .planDuretion{
        font-size: 0.8rem;
        color: rgb(255, 255, 255, 0.7);
        margin-bottom: 0rem;
    }

    #planPrize{
        font-size: 2rem;
        font-weight: var(--title-weight);
        color: red;
       
    }

    .list{
        color: rgb(255, 255, 255, 0.7);
        font-size: var(--peraghaph-font-size);
        font-weight: var(--p-font-weight);
        margin-bottom: 0.1rem;
    }

   
    .planText:nth-child(4){
        margin-bottom: 1rem;
    }
   
    .planText:nth-child(5){
        margin-bottom: 1.2rem;
    }

    .planBtn{
        padding: 0.5rem 0.8rem;
        margin-top: 1rem;
        font-size: 1.1rem;
        font-weight: 400;
        background: transparent;
        color: rgb(255, 255, 255, 0.7);
        border: 1px solid #ffffffb3;
    }


 /* traning section  */

 .traningZone{
    max-width: 1000px;
    margin: 3rem auto;
 }

 .taningText{
    max-width: 600px;
    margin-left:1rem ;
 }

 .traningContainers{
    max-width: 1000px;
    margin: 2rem auto 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 1.3rem;
 }

 .childTraning:nth-child(2){
    grid-column: 2/5;
 }
 
 .childTraning:nth-child(4){
    grid-column: 1/3;
 }
 
 .childTraning:nth-child(6){
    grid-column: 4/6;
 }
 
 .childTraning>img{
    width: 100%;
    height: 100%;
 }

  .childTraning{
    height: 200px;
    position: relative;
  }

  #imgTitle {
    position: absolute;
    left: 2rem;
    bottom: 1rem;
    color: black;
    font-size: 1.5rem;
    z-index: 33;
    font-weight: 600;
  }

  #pushup{
    position: absolute;
    top: 1rem;
    left: 1.2rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    z-index: 44;
  }

  #jump{
    position: absolute;
    left: 0.5rem;
    bottom: 0.5rem;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    z-index: 56;
  }

  #legspress{
    position: absolute;
    left: 1.3rem;
    bottom: 1.3rem;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    z-index: 57;
  }  

  #handPress{
    position: absolute;
    left: 0.8rem;
    bottom: 0.8rem;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    z-index: 58;
  }

  #headpress{
    position: absolute;
    left: 0.8rem;
    bottom: 0.8rem;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    z-index: 59;
  }

 .child-1{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 255, 210, 0.5);
    top: 0;
    left: 0;
 }

 .child-2{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.3);
    top: 0;
    left: 0
 }
 
 .child-3{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0
 }

 .child-4{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0
 }

 .child-5{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 255, 0, 0.3);
    top: 0;
    left: 0
 }

 .child-6{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 71, 255, 0.3);
    top: 0;
    left: 0
 }


/* calculator section */

.text-container {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 4rem;
    text-align: left;
}

.cal-title{
    font-size: var(--title-size);
    font-weight: var(--title-weight);
    color: var(--title-color);
    margin-bottom: 0.7rem;
}

.cal-discription{
    font-size: var(--peraghaph-font-size);
    font-weight: var(--p-font-weight);
    color: var(--peraghaph-color);
}

.text-calculatow-2{
    background-color: var(--secondry-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 0;
    height: 400px;
}

.bmi-table{
    width: 500px;
    height: 320px;
}

table{
 border-collapse:  collapse;
 height: 230px;

}

table tr, th,  td{
     border: 2px solid var(--main-bg-color);
     text-align: left;
     padding: 0.6rem;
     color: var(--peraghaph-color);
     font-weight: var(--p-font-weight);
     border: 1px solid var(--peraghaph-color);

}

table tr th{
    font-size: 1.3rem;
    color: var(--title-color);
}

table caption{
    font-size: 1.5rem;
    font-weight: var(--title-weight);
    color: var(--title-color);
    margin-bottom: 1.5rem;
}

/* form style */
.bmi-title{
    font-size: 1.5rem ;
    font-weight: var(--title-weight);
    color: var(--title-color);
    margin-bottom: 0.6rem;
}

.bmi-discription{
    font-size: var(--peraghaph-font-size);
    font-weight: var(--p-font-weight);
    color: var(--peraghaph-color);
    margin-bottom: 0.8rem;
}

.form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 2rem;
}

#custom{
    grid-column: 1 / span 2;
    border-radius: 7px;
    padding: 10px  15px;
    margin-bottom: 0.7rem;
}

.form input, select{
    color: var(--peraghaph-color);
    font-size: 1rem;
    padding: 10px  15px;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
}


/* meet our team stylings  */

.MeetOurTeam{
    max-width: 1290px;
    height: 750px;
    background-color: #000000;
    padding: 2rem 0;
}

.textTeam{
    max-width: 700px;
    margin: 0 auto 3rem;
}

.teamTitle{
    font-size: 3.5rem;
    font-weight: var(--title-weight);
    color: var(--title-color);
    text-align: center;
    margin-bottom: 1.4rem ;
}

.trainerTeam{
    max-width: 1000px;
    height: 550px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    justify-content: center;
    gap: 1rem;
    background-color: var(--secondry-bg-color);
    padding: 1rem;
    border-radius: 10px;
}

.child-team{
    width: 312px;
    height: 172px;
    border-radius: 7px;
    position: relative;
}

#trainer{
      font-size: 1.2rem;
      font-weight: 600;
      color: var(--title-color);
      display: block;
      margin-bottom: 0.2rem;
  
}

#subTrainer{
    color: rgba(255, 255, 255, 0.6);
}

.nameTraimer{
    position: absolute; 
    max-width: 300px;
    height: 50px;
    left: 0.5rem;
    bottom: -4rem;
}

.child-team img{
    width: 100%;
    height: 250px;
    border-radius: 7px;
    filter: brightness(70%);
}

/* footer stylings */
.footer{
    max-width: 1290px;
    height: 400px;
    background-color: var(--secondry-bg-color);
    margin: 0 auto;
    padding: 4rem 10rem 7rem;
}
.footer .lastDec{
     text-align: center;
     color: var(--peraghaph-color);
     font-size: var(--peraghaph-font-size);
     font-weight: var(--p-font-weight);
     margin-top: 3rem;
}

.footerTitle{
    font-size: 4rem;
    color: var(--btn-backround-color);
    font-weight: var(--title-weight);
    font-style: italic;
    margin-bottom: 1.2rem;
}

.footerDec{
    color: var(--peraghaph-color);
    font-size: var(--peraghaph-font-size);
    font-weight: var(--p-font-weight);
}



.childFooter:first-child{
    max-width: 450px;
    height: 172px;
}


.childFooter:nth-child(2){
    width: 170px;
    height: 172px;

}


.childFooter:last-child{
    width: 170px;
    height: 172px;
}
.childFooter:last-child .footerLink{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--peraghaph-color);
    margin-bottom: 0.5rem;
    display: block;
}


.secondTitle {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--title-color);
    margin-bottom: 1rem;
}

.footerLink {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--peraghaph-color);
    margin-bottom: 0.5rem;
    display: inline-block;
}

.footerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    padding-bottom: 4rem;
}







.










